<div class="offset-md-1 col-md-2 d-flex align-items-center flex-row-reverse">
    {{#if this.isExcludedFromTopStories}}
    <h4>
        <span data-hidden class="badge badge-danger">Hidden <i class="far fa-eye-slash"></i></span>
    </h4>
    {{/if}}
</div>