<div class="container w-100 h-100">
    <div class="row h-100">
        <div class="col-md-5 col-lg-6 my-auto">
            <div class=" mx-auto">
                <h3 class="mt-5 mb-3">Welkom op Instawareness</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ante vel nisl
                        interdum, non tempus leo
                        faucibus. Sed in accumsan nulla. Praesent maximus, sem sit amet eleifend maximus, dolor dolor
                        dapibus leo, nec rhoncus
                        magna ipsum nec dolor. Nullam venenatis consequat sem, at scelerisque arcu semper ut.
                        Pellentesque sollicitudin feugiat
                        imperdiet. In sit amet sagittis lectus. Suspendisse potenti. Class aptent taciti sociosqu ad
                        litora torquent per
                        conubia nostra, per inceptos himenaeos. Nunc vel turpis eget lorem vestibulum cursus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur ante vel nisl
                        interdum, non tempus leo
                        faucibus. Sed in accumsan nulla. Praesent maximus, sem sit amet eleifend maximus, dolor dolor
                        dapibus leo, nec rhoncus
                        magna ipsum nec dolor.</p>
                    <div id="startbtn" class="btn btn-success"><i class="far fa-thumbs-up"></i> Let's start!</div>

                    <h4 class="py-3">Enjoy unraveling the algorithm! Thibault</h4>
                    <div class="col-md-2">
                        <img src="/images/ugent.png" class="img-fluid" alt="ugent">
                    </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-6 my-auto mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/RlXG4qeAZ2E?controls=0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope"></iframe></div>
        </div>
    </div>
</div>