<div class="container w-100 h-100">
    <div class="row h-100">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mt-5 mb-3">Weclome to Instawareness</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>In the tabs above you can see metrics about the filtering behind your instagram news feed.</p>
                <p>Please use the guided tour to explore and understand all the features of Instawareness</p>

                <div id="startbtn" class="btn btn-lg btn-white"><i class="far fa-play-circle"></i> Start the guided tour!</div>
                <div class="pt-5 col-md-2">
                    <img src="/images/ugent.png" class="img-fluid" alt="ugent">
                </div>

            </div>
            <div class="col-md-6">
                <p class="pbox mb-5">What is an Algorithm? An algorithm controls the way social media channels
                     present their content (in this case
                     Instagram posts) to you. Search engine Google also makes, for example, use of
                     algorithms to determine
                     which search results are relevant to you and thus presented to you. </p>
                 <h6> Do you want to know more specifically about the instagram algorithm? Watch the video below</h6>
            
                <div class="px-0 col-md-10 col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/RlXG4qeAZ2E?controls=0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope"></iframe></div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="modal fade" id="endTour" tabindex="-1" role="dialog" aria-labelledby="endTourTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">You've done the tour!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Now you know how Instawareness works, you can play around a bit here. Do not hesitate to visit this site now and then, since you stay logged in. In the end, this tool is here for you to increase your awareness on inivisble algoritm on social media.</p>
                <p>Spread the word.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-success">Okay, i'll go tell all my friends and collegues about this amazing tool!
                    <i class="fas fa-rocket"></i></button>
            </div>
        </div>
    </div>
</div>