<div id="view4" class="container-fluid pb-5">
    {{#if viewFour.allOverlap}}
    <div class="row pt-3 pb-4">
        <div class="bg card col-md-6 mx-auto">
            <div class="card-body">
                <h5 class="card-title">No hidden posts!</h5>
                <p class="card-text">There seem to be no hidden posts when you should currently view the first
                    {{viewFour.allPosts.length}} posts on your Instagram! Probably you've frequently opened Instagram
                    the past hours. Because you've seen all posts ("you're all up to date"), recency will become the
                    most important factor for the algorithm. This is why the non-algorithm list has the same ranking as
                    the algortihm based list, which means these two are equal.</p>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row pt-4">
        <div class="col-md-6 mx-auto">
            <div class="card mb-4">
                <div class="card-header" id="overlap">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-secondary" type="button" data-toggle="collapse" data-target="#collapseOverlap"
                            aria-expanded="true" aria-controls="collapseOverlap">
                            Van alle <span id="totalTopPosts">{{viewFour.totalCountTopPosts}}</span> posts in je feed, komen er
                            {{viewFour.beginOverlap.topPosts.length}} posts ook terug in je feed zonder algoritme (chronologisch dus). Deze worden met andere woorden niet voor jou verborgen. </br>Klik hier om ze te bekijken.
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOverlap" class="collapse" aria-labelledby="overlap">
                    <div class="card-body">
                        {{#times viewFour.beginOverlap.topPosts.length}}
                        <div class="row">
                            {{!-- {{#with (lookup @root.viewFour.beginOverlap.allPosts @this)}}
                            {{> nodeMeta node.meta }}
                            {{/with}} --}}
                            {{#with (lookup @root.viewFour.beginOverlap.allPosts @this)}}
                            {{> nodeOverlap node }}
                            {{/with}}
                            {{#with (lookup @root.viewFour.beginOverlap.topPosts @this)}}
                            {{> nodeOverlap node }}
                            {{/with}}
                        </div>
                        {{/times}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-4 pt-3 pb-1">
            <h4 class="text-right">
                Jouw feed zonder algoritme <i class="fas fa-sort-numeric-down"></i>
            </h4>
        </div>
        <div class="col-md-4 pt-3 pb-1">
            <h4>
                Jouw feed mét algoritme <i class="fas fa-random"></i>
                <br>(zoals in je app)
            </h4>
        </div>
    </div>
    {{!-- show the overlap but collapsed --}}


    {{#times viewFour.allPosts.length}}
    <div class="row">
        {{#with (lookup @root.viewFour.allPosts @this)}}
        {{> nodeMetaLeft node.meta }}
        {{/with}}
        {{#with (lookup @root.viewFour.allPosts @this)}}
        {{> node node }}
        {{/with}}
        {{#with (lookup @root.viewFour.topPosts @this)}}
        {{> node node }}
        {{/with}}
    </div>
    {{/times}}

</div>