<div class="container w-100 h-100">
    <div class="row h-100">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mt-5 mb-3">Welkom op Instawareness</h3>
                <p>Bedankt om deel te nemen aan mijn onderzoek! Met InstAwareness wil ik je <b>inzicht</b> geven
                    over de impact van het onzichtbare <b>Instagram-algoritme</b> op jouw posts.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Ik neem je graag eerst mee op een <b>rondleiding</b> in InstaWareness. Aan de hand van enkele
                    van jouw
                    Instagram-post stel ik
                    jou een paar <b>vragen</b> waarover je vervolgens <b>kritisch nadenkt</b>. Je hoeft niet meteen
                    een antwoord
                    neer te schrijven, het
                    is belangrijk dat je even <b>over de vragen reflecteert</b>. Eens je dit proces beet hebt, kan je dit
                    voor elke post in jouw
                    feed doen.</p>
                <p>Gebruik deze tool gerust de komende week <b>dagelijks</b> om te zien welk effect het algoritme
                    heeft op
                    jouw Instagram-feed.
                    Het resultaat is namelijk iedere keer anders omdat er telkens nieuwe posts in jouw feed
                    verschijnen. De eerste keer dat je inlogt heb je na <b>10 minuten rondleiding</b> al een beeld
                    wat de
                    impact van het algoritme is op jouw
                    Instagram-feed.</p>

                <div id="startbtn" class="btn btn-lg btn-white"><i class="far fa-play-circle"></i> Start de
                    rondleiding!</div>
                <div class="pt-5 col-md-2">
                    <img src="/images/ugent.png" class="img-fluid" alt="ugent">
                </div>

            </div>
            <div class="col-md-6">
                <p class="pbox mb-5">Wat is een algoritme? Een algoritme bepaalt de manier waarop sociale media-kanalen
                    content (in dit geval
                    Instagram-posts) voor jou rangschikt en toont. Ook zoekmachine Google maakt gretig gebruik van
                    algoritmes om te bepalen
                    welke zoekresultaten voor jou relevant zijn.</p>
                <h6>Wil je specifiek meer weten over het instagram-algoritme?</h6>
            
                <div class="px-0 col-md-10 col-lg-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/RlXG4qeAZ2E?controls=0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope"></iframe></div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="modal fade" id="endTour" tabindex="-1" role="dialog" aria-labelledby="endTourTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Voilà, de rondleiding in InstaWareness zit erop. Now
                    it’s your turn!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nu je weet hoe InstaWareness werkt, is het tijd om zélf op <b>ontdekking</b> te gaan. Bekijk alle
                    pagina’s op je gemak en stel
                    jezelf opnieuw <b>dezelfde kritisch vragen</b> als in de rondleiding. In <b>5 minuten</b> klaar je
                    de klus.</p>
                <p>Het komt simpelweg neer op dit: <b>wat doet dat mysterieuze Instagram-algoritme nu eigenlijk met
                        posts die ik te zien krijg?</b></p>
                <p>Méér niet. Dat <b>bewustzijn</b> is meteen ook het <b>doel van InstaWareness</b>.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-success">Okay, got it! Ik ga zelf eens zien.
                    <i class="fas fa-rocket"></i></button>
            </div>
        </div>
    </div>
</div>