<script src="/javascripts/viewer.js"></script>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="view1-tab" data-toggle="tab" href="#view1" role="tab" aria-controls="view1"
            aria-selected="true"><i class="fas fa-home"></i> {{view1Name}}</a>
        <a class="nav-item nav-link" id="view2-tab" data-toggle="tab" href="#view2" role="tab" aria-controls="view2"
            aria-selected="false"><i class="fas fa-sort"></i> {{view2Name}}</a>
        <a class="nav-item nav-link" id="view3-tab" data-toggle="tab" href="#view3" role="tab" aria-controls="view3"
            aria-selected="false"><i class="fas fa-user-friends"></i> {{view3Name}}</a>
        {{#unless viewFour.allOverlap}}
        <a class="nav-item nav-link" id="view4-tab" data-toggle="tab" href="#view4" role="tab" aria-controls="view4"
            aria-selected="false"><i class="far fa-eye-slash"></i> {{view4Name}}</a>
        {{/unless}}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane bg fade show active" id="view1" role="tabpanel" aria-labelledby="view1-tab">{{> view1}}</div>
    <div class="tab-pane fade" id="view2" role="tabpanel" aria-labelledby="view2-tab">{{> view2}}</div>
    <div class="tab-pane fade" id="view3" role="tabpanel" aria-labelledby="view3-tab">{{> view3}}</div>
        {{#unless viewFour.allOverlap}}
    <div class="tab-pane fade" id="view4" role="tabpanel" aria-labelledby="view4-tab">{{> view4}}</div>
        {{/unless}}


</div>