<!DOCTYPE html>
<html>

<head>
  <title>Instawareness (UGent PSW)</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="/stylesheets/bootstrap-tour.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href='/stylesheets/node.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/javascripts/bootstrap-tour-standalone.min.js"></script>
  <script src='/javascripts/js-cookie.min.js'></script>
</head>

<body>

  {{{body}}}

</body>
<footer class="footer">
  <div class="d-flex justify-content-center">
    <span class="text-muted">Made with <i style="color:#e25555;" class="fas fa-heart"></i> by <a href="https://www.linkedin.com/in/thibault-fouquaert-96a53b142/">some
        nerd</a> @ <a href="www.ugent.be">UGent</a> for his master dissertation.</span>
    -
    <span><i class="fab fa-github"></i><a href="#">
        Source Code</a> </span> - <span><i class="fas fa-at"></i><a href="mailto:thibault.fouquaert@ugent.be">
        thibault.fouquaert@ugent.be</a></span>
    -
    <span><i class="fas fa-mobile-alt"></i> 0471 / 38.13.31</span>
  </div>
</footer>

</html>