<div class="mobile">
    <div class="bg mx-auto w-100 h-100 py-3">
        <div class="container-fluid w-75 h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="mx-auto">
                        <h1 class="mb-5">Too much!</h1>
                        <h3>Instagram reached its rate limit for Instawareness for your account. Please try again
                            (simply reload this page) in 10
                            minutes to an hour. by then, the limit should be expired.<br>
                        </h3>
                        <h3>Kind regards, Thibault</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>