<script src="/js/loginManual.js"></script>
<script src="/js/libs/js-cookie.min.js"></script>



<div class="login">
    <div class="container-fluid w-90">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 pt-5">
                <h4>Welcome to Instawareness! Ready to gain more insight into your Instagram feed?</h4>
                <p>Social media is omnipresent. From the moment we get up in the morning to the moment we prepare for
                    bed, social media such as WhatsApp, Instagram or YouTube are constantly present. Social media’s
                    impact on our daily lives raises various questions about their power and about the way they control
                    what we see or not see in our social media feeds.</p>
                <p>For that reason Instawareness was developed; it helps you to better understand the invisible curation
                    algorithm of Instagram. This algorithm determines which posts, and in which ranking, appear on your
                    Instagram feed and which do not.</p>
                <p>
                <h5>Want to try it out? Just follow the instructions!</h5>
                <ul class="fa-ul">
                    <li><i class="fas fa-arrow-alt-circle-right"></i> Follow the steps on the right to log in.
                    </li>
                    <li><i class="fas fa-arrow-alt-circle-right"></i> Instawareness will show you which posts and
                        friends you get to see more (or less) frequently and which posts are hidden from you by the
                        algorithm.</li>
                </ul>
                </p>
                <p>When you are logged in successfully, Instawareness will fetch the first 50 posts from your feed. This
                    data is first encrypted ensuring that nobody can access it. Instawareness processes your data
                    anonymously and does not store it. Only you gets to see the results from your own feed.</p>
                <p>
                    Instawareness source code is publicly available ensuring full transparency about how your data is
                    processed. You will remain logged in to Instawareness unless you log off. Each time you login, your
                    Instagram feed is fetched, this means that result may vary.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-5 offset-xl-1 pt-5 mt-5">
                <h4>How do I use Instawareness?</h4>
                <ol class="ol-login-steps">
                    <li>Use <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/chrome/">Google
                            Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"
                            rel="noopener noreferrer">Firefox</a>.
                    </li>
                    
                    <li>Install the Google Chrome extension <a target="_blank" rel="noopener noreferrer"
                            href="https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg">EditThisCookie</a> or the Firefox extention <a target="_blank" rel="noopener noreferrer" href="https://addons.mozilla.org/en-US/firefox/addon/cookie-editor">Cookie Editor</a>
                        <a target="_blank" rel="noopener noreferrer" href="https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg"><img class="img-thumbnail login-image-steps" src="/images/step-2-a.png" alt=""></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://addons.mozilla.org/en-US/firefox/addon/cookie-editor"><img class="img-thumbnail login-image-steps" src="/images/step-2-b.png" alt=""></a>

                    </li>
                    <li>Navigate to <a target="_blank" rel="noopener noreferrer"
                            href="https://www.instagram.com">instagram.com</a> and login (if that is not already the
                        case) using your browser of choicerr. <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com"><img
                                style="width:180px" class="img-thumbnail login-image-steps" src="/images/step-1.png"
                                alt=""></a></li>
                    <li>On <a target="_blank" rel="noopener noreferrer"
                            href="https://www.instagram.com">instagram.com</a>, click on the cookie-icon of the newly installed extension EditThisCookie (Chrome) or Cookie Editor (Firefox) in the top right of your browser. <img
                            class="img-thumbnail login-image-steps" src="/images/step-3.png" alt=""></li>
                    <li>In the menu ribbon, click on the <b>export <i class="fas fa-sign-out-alt"></i></b> button. A message will tell you that your "cookies are coppied to the clipboard"
                        <img class="img-thumbnail login-image-steps" src="/images/step-4.png" alt="">
                    </li>
                    {{!-- <li><b>Belangrijk!</b> Sluit nu het instagram tablad!</li> --}}
                    <li>Paste the cookie in the field below (using Ctrl/Cmd +V or by right clicking and selecting ‘paste’).
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span id="cookie-feedback" class="cookies-nopaste input-group-text">Nothing pasted yet</span>
                            </div>
                            <textarea id="cookie-input" placeholder="Paste cookies here" style="height:85px"
                                class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>