<script src="/javascripts/login.js"></script>
<script src="/javascripts/js-cookie.min.js"></script>

<div class="login">
    <div class="container-fluid w-90">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 pt-5">
                <h4>Welkom op InstAwareness! Klaar om hét geheim van Instagram te ontdekken?</h4>
                <p>Bedankt om deel te nemen aan mijn onderzoek. Hieronder leg ik jou alvast meer uit over het doel en
                    hoe jij er deel van uit kan maken.</p>
                <h5>Het mysterie rond het algoritme van Instagram</h5>
                <p>Nieuwe Media zijn overal. We staan dagelijks op en gaan slapen met sociale media zoals WhatsApp, Instagram of
                    YouTube. De impact van sociale media op ons leven, roept spontaan ook vragen op. Welke <b>macht</b> hebben
                    sociale media-kanalen? Hoe bepaalt Facebook en Instagram welke posts we zien? Daarom ontwikkelde ik
                    deze tool: InstAwareness. Hiermee wil ik jou het onzichtbare <b>Instagram-algoritme</b> leren kennen. Dat algoritme bepaalt welke posts je wel of niet te zien krijgt en welke plaats of
                    rangschikking ze in jouw Instagram-feed verdienen.</p>
                <div class="pbox">
                    <h5>Log in met jouw Instagram-account, and that’s it!</h5>
                    <ul class="fa-ul">
                        <li><i class="fas fa-arrow-alt-circle-right"></i> Zodra je succesvol bent ingelogd, toon ik jou:
                            welke posts en vrienden <b>je vaker of net minder vaak</b> te zien krijgt en welke posts door
                            het algoritme voor jou <b>verborgen</b> werden.
                        </li>
                        <li><i class="fas fa-arrow-alt-circle-right"></i> Daarna vraag ik jou om na te denken <b>waarom</b>
                            je deze posts wel of niet te zien krijgt. Krijg je bijvoorbeeld enkel de <b>mooiste</b> of
                            meest <b>interessante</b> posts te zien?</li>
                    </ul>
                </div>
                <p class="small">Tot slot: InstAwareness heeft geen toegang tot jouw persoonlijke data. Ze worden niet
                    opgeslagen en anoniem verwerkt. Je blijft ingelogd op InstaWareness, tenzij je je afmeldt. Kom dus
                    gerust komende 5 dagen elke dag een kijkje nemen wat het algoritme met jouw Instagram-feed doet.</p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-5 offset-xl-1 pt-5 mt-5">
                <div class="bg login-form">
                    <div class="main-div">
                        <div class="panel">
                            <h3>Veilig inloggen</h3>
                            <p>Om in te loggen, gebruik je jouw Instagram Username. Dit is de naam waarmee je bv. getagd wordt (<a target="_blank" href="https://www.instagram.com/thibault_fouquaert/">@thibault_fouquaert</a>) of boven je eigen posts staat. bijvoorbeeld: <img class="login-example" src="/images/username_example.jpg"
                                    alt="login naam voorbeeld."></p>
                            {{!-- <p>Je wachtwoord is vaak hetzelfde als je Facebook wachtwoord indien je geen idee
                                hebt.</p> --}}
                        </div>
                        <form class="panel" id="Login">

                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Typ hier jouw Instagram username">
                            </div>

                            <div class="form-group">
                                <input id="password" type="password" class="form-control" name="password" placeholder="Wachtwoord (vaak hetzelfde als dat van Facebook)">
                            </div>
                            <button type="submit" class="w-50 btn btn-primary">Login</button>
                            <div class="pt-3 forgot">
                                <a href="https://www.instagram.com/accounts/password/reset/">Wachtwoord vergeten? reset
                                    het hier.
                                </a>
                                <p><b>Je wordt hierdoor niet afgemeld in de app!</b></p>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>