<div class="bg login">
    <h1 class="form-heading">Welcome to InstaWareness!</h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6  offset-xl-1 pt-5">
                <h3 class="mb-5">Some instructions first</h1>
                    Today, new media and our consuming behaviour of them is not what it ever was. Social
                    network platforms are ubiquitous and our attention gets sucked away by them more and more every
                    day. We do not live <b>with</b> media any more, we live <b>in</b> media. <br>
                    This might sound pessimistic or even irrelevant to you, but I want to prove otherwise. I'd like to
                    take you with me in a story that shows you the power of the <b>invisible algorithms</b> behind your
                    every day social media. To do this, you will have to login with your Instagram account. From there
                    on you will be guided through the different consequences these algorithms can bear.
                    <ol class="pt-3">
                        <li><b>No information is saved by logging in!</b> All calculations are made anonymously. </br>I
                            cannot see or trace your data. The login is completely safe and secure! <i class="fas fa-shield-alt"></i></li>
                        <li>You will stay logged in in the browser you're using now, be aware to log out if this is not
                            your personal device.</li>
                        <li>Ideally, you should use instagram almost day to day to see results. The more you like,
                            comment, post... the easier it is to see the algorithm in action.</li>
                        <li>Every day, these results will differ based on who posted which content. I would love it if
                            you come back to check any differences for yourself.</li>
                        <li>your instagram login name: the name you see above your posts (for me: thibault_fouquaert)</li>
                        <li>Your password: if you forgot, chances are this is the same as your Facebook password.</li>
                        <li><a href="https://www.instagram.com/accounts/password/reset/">Resetting your password</a>,
                            will <b>NOT</b> log you out on your phone.</li>
                    </ol>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 pt-5">
                <div class="login-form">
                    <div class="main-div">
                        <div class="panel">
                            <h2>Login</h2>
                            <p>Please enter your Instagram Username and Password</p>
                        </div>
                        <form id="Login">

                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Instagram Username">
                            </div>

                            <div class="form-group">
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="forgot">
                                <a href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<script src="/javascripts/login.js"></script>