<script src="/javascripts/loginManual.js"></script>
<script src="/javascripts/js-cookie.min.js"></script>



<div class="login">
    <div class="container-fluid w-90">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 pt-5">
                <h4>Welkom op InstAwareness! Klaar om hét geheim van Instagram te ontdekken?</h4>
                <p>Bedankt om deel te nemen aan mijn onderzoek. Hieronder leg ik jou alvast meer uit over het doel en
                    hoe jij er deel van uit kan maken.</p>
                <h5>Het mysterie rond het algoritme van Instagram</h5>
                <p>Nieuwe Media zijn overal. We staan dagelijks op en gaan slapen met sociale media zoals WhatsApp, Instagram of
                    YouTube. De impact van sociale media op ons leven, roept spontaan ook vragen op. Welke <b>macht</b> hebben
                    sociale media-kanalen? Hoe bepaalt Facebook en Instagram welke posts we zien? Daarom ontwikkelde ik
                    deze tool: InstAwareness. Hiermee wil ik jou het onzichtbare <b>Instagram-algoritme</b> leren kennen. Dat algoritme bepaalt welke posts je wel of niet te zien krijgt en welke plaats of
                    rangschikking ze in jouw Instagram-feed verdienen.</p>
                <div class="pbox">
                    <h5>Vol de Log in instructies, and that’s it!</h5>
                    <ul class="fa-ul">
                        <li><i class="fas fa-arrow-alt-circle-right"></i> Zodra je succesvol bent ingelogd, toon ik jou:
                            welke posts en vrienden <b>je vaker of net minder vaak</b> te zien krijgt en welke posts door
                            het algoritme voor jou <b>verborgen</b> werden.
                        </li>
                        <li><i class="fas fa-arrow-alt-circle-right"></i> Daarna vraag ik jou om na te denken <b>waarom</b>
                            je deze posts wel of niet te zien krijgt. Krijg je bijvoorbeeld enkel de <b>mooiste</b> of
                            meest <b>interessante</b> posts te zien?</li>
                    </ul>
                </div>
                <p class="small">Tot slot: InstAwareness heeft geen toegang tot jouw persoonlijke data. Ze worden niet
                    opgeslagen en anoniem verwerkt. Je blijft ingelogd op InstaWareness, tenzij je je afmeldt. Kom dus
                    gerust komende 5 dagen elke dag een kijkje nemen wat het algoritme met jouw Instagram-feed doet.</p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-5 offset-xl-1 pt-5 mt-5">
                <h4>Hoe Log ik in?</h4>
                <p>Na 3 maand ontwikkelen van deze onderzoekstool was er een groot probleem! Instagram had het door als mensen inlogden op deze website, en blokkeerde dit aangezien het tegen hun regels is. Gelukkig hebben wij een veilige manier gevonden om dit te omzeilen. Volg hiervoor de stapjes hieronder</p>
                <ol class="ol-login-steps">
                    <li>Zorg dat je <a href="https://www.google.com/chrome/">Google Chrome</a> gebruikt.</li>
                    <li>Surf naar <a target="_alt" href="https://www.instagram.com">instagram.com</a> en meld je aan indien dit nog niet het geval is. <img style="width:180px" class="img-thumbnail login-image-steps"src="/images/step1.png" alt=""></li>
                    <li>installeer deze extensie op Google Chrome: <a href="https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg">EditThisCookie<img class="img-thumbnail login-image-steps" src="/images/step2.png" alt=""></a></li>
                    <li>Keer terug naar <a target="_alt" href="https://www.instagram.com">instagram.com</a>, en klik vanboven op het Cookie-icoontje (van de nieuwe extensie) <img class="img-thumbnail login-image-steps" src="/images/step3.png" alt=""></li>
                    <li>Klik op de <b>exporteer <i class="fas fa-sign-out-alt"></i></b> knop in het menu. Er verschijnt dan "Cookies gekopieerd naar het klembord".
                        <img class="img-thumbnail login-image-steps" src="/images/step4.png" alt="">
                    </li>
                    <li><b>Belangrijk!</b> Sluit nu het instagram tablad!</li>
                    <li>Plak de gekopieerde cookies hieronder.
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span id="cookie-feedback"class="cookies-nopaste input-group-text">Nog niets geplakt.</span>
                        </div>
                        <textarea id="cookie-input"placeholder="Plak hier de cookies."style="height:85px"class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    </li>
                    <li><b>Belangrijk!</b> Ben je zeker dat het instagram.com tablad gesloten is?</li>
                    <li><button disabled id='cookie-reload'class="btn btn-success">Klik hier om in te loggen</button></li>
                </ol>
            </div>
        </div>
    </div>
</div>
</div>