<div class="mobile">
    <div class="masthead w-100 h-100 py-3">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Welkom op Instawareness</h1>
                        <h3> Excuses voor het ongemak, maar we ondersteunen (nog) geen mobiele apparaten, noch
                                 de Internet Explorer of Edge-browser.
                                 Ga naar Instawareness vanaf je pc met Chrome a.u.b. <br>
                             </h3>
                             <h3> Bedankt, Thibault </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>