<div class="mobile">
    <div class="masthead w-100 h-100 py-3">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Welcome to Instawareness</h1>
                        <h3>Apologies for the inconvenience, but we de not (yet) support mobile or tablet devices, nor
                            the Internet Explorer or Edge browser.
                            Please visit Instawareness from your PC with Chrome, Safari of Firefox.<br>
                        </h3>
                        <h3>Kind regards, Thibault</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>