<div class="mobile">
    <div class="masthead w-100 h-100 py-3">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Welcome to Instawareness</h1>
                        <p> Sorry for the inconvenience, but we do not (yet) Internet Explorer or Edge. Please visit Instawareness from your PC (or mobile) with Chrome or Firefox.
                             </p>
                             <p> Feel free to contribute to our source code (see below) to make the HTML render neatly on mobile pages. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>